<%- include ('./adminheader.ejs') %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card insertdiv" id='insertdiv'>
                  <div class="card-header">
                    <h4>New Delivery Boy </h4>
                  </div>
                
                  <div class="card-body">
                  
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Delivery Boy Name</label>
                                <input type="text" class="form-control" id="name" required>
                              </div>
                              
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" id="number" required>
                              </div>
                              
                          </div>


                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>TrackId</label>
                                <input type="text" class="form-control" id="trackid" required>
                              </div>
                              
                          </div>
                      </div>
                  
              
                  
                  </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1 submit" type="button">Submit</button>
                    <button class="btn btn-danger mr-1 show" id="show" type="button" >Show All Delivery Boy</button>
                  </div>
                 
                </div>
            
                
                
<div class="card mb-4" id='result'></div>



<div class="card mb-4" id='editdiv'>
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>
    <div class="card-body">
    
        <form>
            <div class="form-row">
    
    
                <div class="form-group col-md-6">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="pid" readonly>
                    <div class="clearfix"></div>
                    </div>
    
            <div class="form-group col-md-6">
            <label class="form-label">Delivery Boy Name</label>
            <input type="text" class="form-control" placeholder="Email" id="pname">
            <div class="clearfix"></div>
            </div>
         
            </div>
            <div class="form-row">
    
    
                <div class="form-group col-md-6">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Email" id="pnumber">
                    <div class="clearfix"></div>
                    </div>
    
            <div class="form-group col-md-6">
            <label class="form-label">TrackId</label>
            <input type="text" class="form-control" placeholder="Email" id="ptrackid">
            <div class="clearfix"></div>
            </div>
         
            </div>
            
            <button type="button" id='update' class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
    
    
    <div class="card mb-4" id="updateimagediv">
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
    <div class="card-body">
    
        <form action="/category/update_image" method="POST" enctype="multipart/form-data">
            <div class="form-row">
       
                <div class="form-group col-md-6">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="peid" name="id" readonly>
                    <div class="clearfix"></div>
                    </div>
    
    
            <div class="form-group col-md-6">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name='image' placeholder="Password">
            <div class="clearfix"></div>
            </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
            
              </div>
             
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
       
        </div>
      </div>
      
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/light/assets/js/app.min.js"></script>   
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/light/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/light/assets/js/custom.js"></script>


  <script src="/javascripts/delivery.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  $('.submit').click(function(){
      if($('#name').val() == [] || $('#name').val() == '') alert('Enter Name');
      else if($('#number').val()==[] || $('#number').val()=='') alert('Enter Number');
      else if($('#trackid').val()==[] || $('#trackid').val()=='') alert('Entre Track ID');
      else {
          let name = $('#name').val()
          let number = $('#number').val()
          let trackid = $('#trackid').val()
          $.post('/delivery/insert',{name,number,trackid},data=>{
              alert('Successfully')
          })
      }
  })
  
  
  
  </script>

</body>


</html>