<footer id="footer" class="footer-container">
        
          
    <div class="footer-top">
            <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
  <div class="wrapper"
  >
  
  <div class="container">
      <div        class="row section-footer ApRow  has-bg bg-boxed"
                              style="background: no-repeat;"        data-bg_data=" no-repeat"        >
                                              <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
              <div class="block ApLink ApBlockLink">
                          
                              <ul>
                                                              <li><a href="/contactus" target="_self">Contact Us</a></li>
                                                                                  <li><a href="/about" target="_self">About Us</a></li>
                                                                                  <li><a href="/privacy-policy" target="_self">Privacy Policy</a></li>
                                                      </ul>
                      </div>
      
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
              <div class="block ApLink ApBlockLink">
                          
                              <ul>
                                                              <li><a href="/art-elements" target="_self">Leffet&#039;s Art Elements</a></li>
                                                                                  <li><a href="/size-chart" target="_self">Size Chart</a></li>
                                                                                  <li><a href="/terms-and-conditions" target="_self">Terms &amp; Conditions</a></li>
                                                                                  <li><a href="refund-policy" target="_self">Shipping &amp; Refund Policy</a></li>
                                                      </ul>
                      </div>
      
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12 section-social ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApModule -->
  
    <div class="block-social block links accordion_small_screen">
        <p class="h4 title_block hidden-sm-down">Follow Us On Social</p>
        <div class="title clearfix hidden-md-up" data-target="#footer_block_social" data-toggle="collapse">
          <span class="h4 title_block">Follow Us On Social</span>
          <span class="float-xs-right">
            <span class="navbar-toggler collapse-icons">
              <i class="material-icons add">&#xE313;</i>
              <i class="material-icons remove">&#xE316;</i>
            </span>
          </span>
      </div>
      <ul class="collapse" id="footer_block_social">
                <li class="facebook"><a href="https://www.facebook.com/leffetpret" title="Facebook" target="_blank"><span>Facebook</span></a></li>
                <li class="twitter"><a href="https://twitter.com/leffetbysm" title="Twitter" target="_blank"><span>Twitter</span></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCNT648_JaIf1K2Ad1DkzRLQ/featured" title="YouTube" target="_blank"><span>YouTube</span></a></li>
                <li class="pinterest"><a href="https://in.pinterest.com/leffetbysanjevmarwaaha" title="Pinterest" target="_blank"><span>Pinterest</span></a></li>
                <li class="instagram"><a href="https://www.instagram.com/leffet_pret/" title="Instagram" target="_blank"><span>Instagram</span></a></li>
            </ul>
    </div>
  
  
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block copyright p-0 ApRawHtml">
                          © 2021 leffet.in. All rights reserved    	</div><!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block card-row ApRawHtml">
                          <i class="fab fa-cc-visa fa-2x fa-fw" ></i><i class="fab fa-cc-mastercard fa-2x fa-fw"></i><i class="fab fa-cc-amex fa-2x fa-fw"></i><i class="fab fa-cc-amazon-pay fa-2x fa-fw"></i>    	</div>
      </div>            </div>
  </div>
  </div>
      </div>
        </div>
  
  
    <div class="footer-center">
            <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
  <div class="wrapper"
  >
  
  <div class="container">
      <div        class="row ApRow  has-bg bg-boxed"
                              style="background: no-repeat;"        data-bg_data=" no-repeat"        >
                                              <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      
      </div>            </div>
  </div>
  </div>
      <div class="bootstrap">
      </div>
  
  <style type="text/css">
              </style>
  <script>
      var lcpWidgetInterval;
      var closePopupTimeout;
      var lzWidgetInterval;
      var paldeskInterval;
      var hubspotInterval;
      var arcuOptions;
          var arcItems = [];
          window.addEventListener('load', function(){
          jQuery('#arcontactus').remove();
          var $arcuWidget = jQuery('<div>', {
              id: 'arcontactus'
          });
          jQuery('body').append($arcuWidget);
                      arCuClosedCookie = arCuGetCookie('arcu-closed');
                  jQuery('#arcontactus').on('arcontactus.init', function(){
              jQuery('#arcontactus').addClass('arcuAnimated').addClass('slideInRight');
              setTimeout(function(){
                  jQuery('#arcontactus').removeClass('slideInRight');
              }, 1000);
              var $key = $('<input>', {
                  type: 'hidden',
                  name: 'key',
                  value: '67VY6KW9'
              });
              jQuery('#arcontactus .callback-countdown-block-phone form').append($key);
                      });
                                                  var arcItem = {
              };
                              arcItem.id = 'msg-item-2';
                                      arcItem.class = 'msg-item-whatsapp ';
              arcItem.title = "Chat with us";                         arcItem.icon = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>';
              arcItem.noContainer = 1;
              arcItem.href = 'https://wa.me/919167860709';
              arcItem.target = '_blank';
              arcItem.color = '#1ebea5';
                          arcItems.push(arcItem);
                  arcuOptions = {
              drag: true,
              mode: 'regular',
              align: 'right',
              reCaptcha: false,
              reCaptchaKey: '',
              countdown: 0,
              theme: '#008749',
                                                  buttonIcon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>',
                                                                      showHeaderCloseBtn: true,
                                          headerCloseBtnBgColor: '#008749',
                                          buttonText: false,
                          itemsIconType: 'non-rounded',
              buttonSize: 'medium',
              buttonIconSize: 24,
              menuSize: 'small',
              phonePlaceholder: "+XXX-XX-XXX-XX-XX",
              callbackSubmitText: "Waiting for call",
              errorMessage: "Connection error. Please refresh the page and try again.",
              callProcessText: "We are calling you to phone",
              callSuccessText: "Thank you.<br />We are call you back soon.",
              iconsAnimationSpeed: 800,
              iconsAnimationPause: 2000,
              callbackFormText: "Please enter your phone number<br /> and we call you back soon",
              items: arcItems,
              ajaxUrl: 'https:///leffet.in/module/arcontactus/ajax',                             promptPosition: 'top',
                                                              popupAnimation: 'fadeinup',
                                  style: '',
                                      callbackFormFields: {
                                                  phone: {
                      name: 'phone',
                      enabled: true,
                      required: true,
                      type: 'tel',
                      label: '',
                      placeholder: "+XXX-XX-XXX-XX-XX"
                  },
                              },
          };
          jQuery('#arcontactus').contactUs(arcuOptions);
                                              });
                                                                          </script>
  
  
  
  </div>
        </div>
  
  
    <div class="footer-bottom">
            <div class="inner"></div>
        </div>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
          
                              <div id="back-top"><a href="#" class="fa fa-angle-double-up"></a></div>
                </footer>
  
      </main>
  
      
          <script type="text/javascript" src="/leffet.in/themes/core.js" ></script>
    <script type="text/javascript" src="/leffet.in/themes/leo_qos/assets/js/theme.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/ps_emailsubscription/views/js/ps_emailsubscription.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/blockreassurance/views/js/front.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoslideshow/views/js/iView/raphael-min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoslideshow/views/js/iView/iview.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoslideshow/views/js/leoslideshow.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoquicklogin/views/js/leoquicklogin.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/leofeature_cart.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/jquery.mousewheel.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/jquery.mCustomScrollbar.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/jquery.rating.pack.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/leofeature_review.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leofeature/views/js/leofeature_wishlist.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/facebookpsconnect/views/js/module.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/arcontactus/views/js/jquery.contactus.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/arcontactus/views/js/scripts.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/baproductscarousel/views/js/slidebutton.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/baproductscarousel/views/js/assets/owl.carousel.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/g_testimonial/views/js/front/testimonial.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/ps_googleanalytics/views/js/GoogleAnalyticActionLib.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/countdown.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/boninstagramslick/views/js/slick.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/boninstagramslick/views/js/slick-front.js" ></script>
    <script type="text/javascript" src="/leffet.in/js/jquery/ui/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/js/jquery/plugins/fancybox/jquery.fancybox.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/ps_searchbar/ps_searchbar.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leobootstrapmenu/views/js/leobootstrapmenu.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/ps_shoppingcart/ps_shoppingcart.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/blockgrouptop/views/js/blockgrouptop.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoproductsearch/views/js/jquery.autocomplete_productsearch.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/leoproductsearch/views/js/leosearch.js" ></script>
    <script type="text/javascript" src="/leffet.in/themes/leo_qos/assets/js/custom.js" ></script>
    <script type="text/javascript" src="/leffet.in/themes/leo_qos/assets/js/jquery.bpopup.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/waypoints.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/instafeed.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/jquery.stellar.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/owl.carousel.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/imagesloaded.pkgd.min.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/slick.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/jquery.elevatezoom.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/ApImageHotspot.js" ></script>
    <script type="text/javascript" src="/leffet.in/modules/appagebuilder/views/js/script.js" ></script>
  
  
  <script type="text/javascript">
      var choosefile_text = "Choose file";
      var turnoff_popup_text = "Do not show this popup again";
  
      var size_item_quickview = 144;
      var style_scroll_quickview = 'horizontal';
      
      var size_item_page = 144;
      var style_scroll_page = 'horizontal';
      
      var size_item_quickview_attr = 144;	
      var style_scroll_quickview_attr = 'horizontal';
      
      var size_item_popup = 190;
      var style_scroll_popup = 'vertical';
  </script>    
  
      
        <div class="modal leo-quicklogin-modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="leo-quicklogin-form row">
              <ul class="lql-action lql-inactive">
              <li class="lql-action-bt">
                  <p class="lql-bt lql-bt-login">Login</p>
              </li>
              <li class="lql-action-bt">
                  <p class="lql-bt lql-bt-register">Register</p>
              </li>
          </ul>
          <div class="leo-form leo-login-form col-sm-6 leo-form-active">
          <h3 class="leo-login-title">			
              <span class="title-both">
                  Existing Account Login
              </span>
          
              <span class="title-only">
                  Login to your account
              </span>		
          </h3>
          <form class="lql-form-content leo-login-form-content" action="#" method="post">
              <div class="form-group lql-form-mesg has-success">					
              </div>			
              <div class="form-group lql-form-mesg has-danger">					
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="email" class="form-control lql-email-login" name="lql-email-login" required="" placeholder="Email Address">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="password" class="form-control lql-pass-login" name="lql-pass-login" required="" placeholder="Password">
              </div>
              <div class="form-group row lql-form-content-element">				
                  <div class="col-xs-6">
                                              <input type="checkbox" class="lql-rememberme" name="lql-rememberme">
                          <label class="form-control-label"><span>Remember Me</span></label>
                                      </div>				
                  <div class="col-xs-6 text-sm-right">
                      <a role="button" href="#" class="leoquicklogin-forgotpass">Forgot Password ?</a>
                  </div>
              </div>
              <div class="form-group text-right">
                  <button type="submit" class="form-control-submit lql-form-bt lql-login-bt btn btn-primary">			
                      <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                      <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                      <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                      <span class="lql-bt-txt">					
                          Login
                      </span>
                  </button>
              </div>
              <div class="form-group lql-callregister">
                  <a role="button" href="#" class="lql-callregister-action">No account? Create one here ?</a>
              </div>
          </form>
          <div class="leo-resetpass-form">
              <h3>Reset Password</h3>
              <form class="lql-form-content leo-resetpass-form-content" action="#" method="post">
                  <div class="form-group lql-form-mesg has-success">					
                  </div>			
                  <div class="form-group lql-form-mesg has-danger">					
                  </div>
                  <div class="form-group lql-form-content-element">
                      <input type="email" class="form-control lql-email-reset" name="lql-email-reset" required="" placeholder="Email Address">
                  </div>
                  <div class="form-group">					
                      <button type="submit" class="form-control-submit lql-form-bt leoquicklogin-reset-pass-bt btn btn-primary">			
                          <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                          <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                          <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                          <span class="lql-bt-txt">					
                              Reset Password
                          </span>
                      </button>
                  </div>
                  
              </form>
          </div>
      </div>
      
      <div class="leo-form leo-register-form col-sm-6 leo-form-active">
          <h3 class="leo-register-title">
              New Account Register
          </h3>
          <form class="lql-form-content leo-register-form-content" action="#" method="post">
              <div class="form-group lql-form-mesg has-success">					
              </div>			
              <div class="form-group lql-form-mesg has-danger">					
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="text" class="form-control lql-register-firstname" name="lql-register-firstname"  placeholder="First Name">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="text" class="form-control lql-register-lastname" name="lql-register-lastname" required="" placeholder="Last Name">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="email" class="form-control lql-register-email" name="lql-register-email" required="" placeholder="Email Address">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="password" class="form-control lql-register-pass" name="lql-register-pass" required="" placeholder="Password">
              </div>
                          <div class="form-group text-right">				
                  <button type="submit" name="submit" class="form-control-submit lql-form-bt lql-register-bt btn btn-primary">			
                      <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                      <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                      <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                      <span class="lql-bt-txt">					
                          Create an Account
                      </span>
                  </button>
              </div>
              <div class="form-group lql-calllogin">
                  <div>Already have an account?</div>
                  <a role="button" href="#" class="lql-calllogin-action">Log in instead</a>
                  Or
                  <a role="button" href="#" class="lql-calllogin-action lql-callreset-action">Reset password</a>
              </div>
          </form>
      </div>
  </div>
  
              </div> 
              <div class="modal-footer"></div>
          </div>
      </div>
  </div><div class="leoquicklogin-mask"></div>
  
  <div class="leoquicklogin-slidebar">
      <div class="leoquicklogin-slidebar-wrapper">
          <div class="leoquicklogin-slidebar-top">
              <button type="button" class="leoquicklogin-slidebar-close btn btn-secondary">
                  <i class="material-icons">&#xE5CD;</i>
                  <span>Close</span>
              </button>
          </div>
          <div class="leo-quicklogin-form row">
              <ul class="lql-action lql-inactive">
              <li class="lql-action-bt">
                  <p class="lql-bt lql-bt-login">Login</p>
              </li>
              <li class="lql-action-bt">
                  <p class="lql-bt lql-bt-register">Register</p>
              </li>
          </ul>
          <div class="leo-form leo-login-form col-sm-6 leo-form-active">
          <h3 class="leo-login-title">			
              <span class="title-both">
                  Existing Account Login
              </span>
          
              <span class="title-only">
                  Login to your account
              </span>		
          </h3>
          <form class="lql-form-content leo-login-form-content" action="#" method="post">
              <div class="form-group lql-form-mesg has-success">					
              </div>			
              <div class="form-group lql-form-mesg has-danger">					
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="email" class="form-control lql-email-login" name="lql-email-login" required="" placeholder="Email Address">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="password" class="form-control lql-pass-login" name="lql-pass-login" required="" placeholder="Password">
              </div>
              <div class="form-group row lql-form-content-element">				
                  <div class="col-xs-6">
                                              <input type="checkbox" class="lql-rememberme" name="lql-rememberme">
                          <label class="form-control-label"><span>Remember Me</span></label>
                                      </div>				
                  <div class="col-xs-6 text-sm-right">
                      <a role="button" href="#" class="leoquicklogin-forgotpass">Forgot Password ?</a>
                  </div>
              </div>
              <div class="form-group text-right">
                  <button type="submit" class="form-control-submit lql-form-bt lql-login-bt btn btn-primary">			
                      <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                      <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                      <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                      <span class="lql-bt-txt">					
                          Login
                      </span>
                  </button>
              </div>
              <div class="form-group lql-callregister">
                  <a role="button" href="#" class="lql-callregister-action">No account? Create one here ?</a>
              </div>
          </form>
          <div class="leo-resetpass-form">
              <h3>Reset Password</h3>
              <form class="lql-form-content leo-resetpass-form-content" action="#" method="post">
                  <div class="form-group lql-form-mesg has-success">					
                  </div>			
                  <div class="form-group lql-form-mesg has-danger">					
                  </div>
                  <div class="form-group lql-form-content-element">
                      <input type="email" class="form-control lql-email-reset" name="lql-email-reset" required="" placeholder="Email Address">
                  </div>
                  <div class="form-group">					
                      <button type="submit" class="form-control-submit lql-form-bt leoquicklogin-reset-pass-bt btn btn-primary">			
                          <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                          <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                          <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                          <span class="lql-bt-txt">					
                              Reset Password
                          </span>
                      </button>
                  </div>
                  
              </form>
          </div>
      </div>
      
      <div class="leo-form leo-register-form col-sm-6 leo-form-active">
          <h3 class="leo-register-title">
              New Account Register
          </h3>
          <form class="lql-form-content leo-register-form-content" action="#" method="post">
              <div class="form-group lql-form-mesg has-success">					
              </div>			
              <div class="form-group lql-form-mesg has-danger">					
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="text" class="form-control lql-register-firstname" name="lql-register-firstname"  placeholder="First Name">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="text" class="form-control lql-register-lastname" name="lql-register-lastname" required="" placeholder="Last Name">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="email" class="form-control lql-register-email" name="lql-register-email" required="" placeholder="Email Address">
              </div>
              <div class="form-group lql-form-content-element">
                  <input type="password" class="form-control lql-register-pass" name="lql-register-pass" required="" placeholder="Password">
              </div>
                          <div class="form-group text-right">				
                  <button type="submit" name="submit" class="form-control-submit lql-form-bt lql-register-bt btn btn-primary">			
                      <span class="leoquicklogin-loading leoquicklogin-cssload-speeding-wheel"></span>
                      <i class="leoquicklogin-icon leoquicklogin-success-icon material-icons">&#xE876;</i>
                      <i class="leoquicklogin-icon leoquicklogin-fail-icon material-icons">&#xE033;</i>
                      <span class="lql-bt-txt">					
                          Create an Account
                      </span>
                  </button>
              </div>
              <div class="form-group lql-calllogin">
                  <div>Already have an account?</div>
                  <a role="button" href="#" class="lql-calllogin-action">Log in instead</a>
                  Or
                  <a role="button" href="#" class="lql-calllogin-action lql-callreset-action">Reset password</a>
              </div>
          </form>
      </div>
  </div>
  
          <div class="leoquicklogin-slidebar-bottom">
              <button type="button" class="leoquicklogin-slidebar-close btn btn-secondary">
                  <i class="material-icons">&#xE5CD;</i>
                  <span>Close</span>
              </button>
          </div>
      </div>
  </div>

  </div>
      
    </body>
  
  <!-- Mirrored from /leffet.in/content/4-about-us by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Nov 2021 18:25:18 GMT -->
  </html>