
<%- include ('./otherheader.ejs') %>
      
        
      
      <section id="wrapper">
       
        <nav data-depth="1" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="https://leffet.in/">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
    

  <section id="main">

      
    
      
        <header class="page-header">
          <h1>
  Reset your password
</h1>
        </header>
      
    

    
      <section id="content" class="page-content card card-block">
        
        
    <ul class="ps-alert-error">
          </ul>
      <section class="form-fields renew-password">

        <div class="email">
          Email address: <%=msg%>
        </div>

        <div class="container-fluid">
          <div class="row form-group">
            <label class="form-control-label col-md-3 offset-md-2">New password</label>
            <div class="col-md-4">
              <input class="form-control" type="password" data-validate="isPasswdCustomer" id="passwd">
            </div>
          </div>

          <div class="row form-group">
            <label class="form-control-label col-md-3 offset-md-2">Confirmation</label>
            <div class="col-md-4">
              <input class="form-control" type="password" data-validate="isPasswdCustomer" id="confirmation">
            </div>
          </div>

          <input type="hidden" name="token" id="token" value="77558a44a958717d60e986802ed237fc">
          <input type="hidden" name="id_customer" id="id_customer" value="13">
          <input type="hidden" name="reset_token" id="reset_token" value="ea1ee6d98a54143cd4b697c39a9b81586f87761c">

          <div class="row form-group">
            <div class="offset-md-5">
              <button class="btn btn-outline change" type="button" >
                Change Password
              </button>
            </div>
          </div>
        </div>

      </section>

      </section>
    
  
    
      <footer class="page-footer">
        
  <ul>
    <li><a href="/login">Back to Login</a></li>
  </ul>

      </footer>
    

  </section>


    
  </div>


            
          </div>
                  </div>
              	
      </section>

   
<%- include ('./indexfooter.ejs') %> 

<script>

$('.change').click(function(){
    if( $('#passwd').val() == '' || $('#passwd').val() == [] ) alert('Enter New Password');
   else if( $('#confirmation').val() == '' || $('#confirmation').val() == [] ) alert('Enter Confirm New Password');
   else if( $('#passwd').val() != $('#confirmation').val()) alert('Password Not Match');
   else {
       let password = $('#passwd').val()
       $.post('/change-password',{password},data=>{
           window.location.href = '/login';
       })

// console.log( $('#passwd').val() )
// console.log( $('#confirmation').val() )


   }


})

</script>
