<%- include ('./otherheader.ejs') %>

        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="2" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="#">
                <span itemprop="name">Size Chart</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
    

  <section id="main">

      
    
      
        <header class="page-header">
          <h1>
  Size Chart
</h1>
        </header>
      
    

    
  <section id="content" class="page-content page-cms page-cms-11">

    
      <p><img src="/images/sizechart.jpeg" alt="" width="100%" /></p>
    

    
      
    

    
      
    

  </section>

  
    
      <footer class="page-footer">
        
          <!-- Footer content -->
        
      </footer>
    

  </section>


    
  </div>


            
          </div>
                  </div>
              	
      </section>

      <%- include ('./indexfooter.ejs') %> 
   