body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


header.navbar,
.navbar,
.offcanvas,
.modal,
.dropdown-menu {
  position: relative;
  z-index: 999999 !important;
}